{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>

<h1>Create a Listing</h1>

<form method="post">
  {% csrf_token %}

  <label for="title">Title:</label><br>
  <input type="text" id="title" name="title" placeholder="Enter a title" required><br><br>

  <label for="description">Listing Description:</label><br>
  <textarea id="description" name="description" placeholder="Enter a description" required></textarea><br><br>

  <label for="bid">Bid:</label><br>
  <input type="number" id="bid" name="bid" placeholder="Enter a bid" required><br><br>

  <label for="image_url">Image URL:</label><br>
  <input type="url" id="image_url" name="image_url" placeholder="Enter a URL"><br><br>

  <label for="category">Category:</label><br>
  <input type="text" id="category" name="category" placeholder="Enter a category" required>

  </select><br><br>


  <button type="submit">Create Listing</button>
</form>
{% endblock %}