{% extends "auctions/layout.html" %}

<style>
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
</style>

{% block body %}

<div class="d-flex justify-content-center align-items-center">
  <div class="p-5">

    {% if listing.image_url%}
    <img class="card-img-top" src="{{ listing.image_url }}" alt="{{listing.title}}" width="200">
    {% else %}
    <img
      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.Pneh22uyXw_rJ8leBae8VwHaHa%26pid%3DApi&f=1&ipt=10c45487fc9f75a21350c49ed1a2afbb06a8c4f4ee6e45cec979419944b77f4f&ipo=images"
      class="card-img-top" alt="no image available">
    {% endif %}
    <h2 class="mb-3">{{ listing.title }}</h2>
    <h3>${{ listing.price }}</h3>
    <h5 class="mt-3">Description :</h5>
    <p>{{ listing.description }} <br></p>

    {% if user.is_authenticated %}

    <form method="POST" action="">
      {% csrf_token %}
      <div>
        {{ form.as_p }}
        <div class="d-flex align-items-center input-group mb-3">
          <input type="number" class="form-control" name="{{ form.amount.name }}" placeholder="bid"
            style="-webkit-appearance: none; -moz-appearance: textfield;">
          <button type="submit" class="btn btn-primary">Place Bid</button>
        </div>
      </div>
      {% if form.errors or form.non_field_errors %}
      <div class="invalid-feedback">
        {% for field in form %}
        {{ field.errors }}
        {% endfor %}
        {{ form.non_field_errors }}
      </div>
      {% endif %}
    </form>

    {% endif %}


    <p class="text-secondary mt-5">Listed by {{ listing.created_by }} -
      On {{ listing.created_at }} -
      in {{ listing.category }}'s category
    </p>

    {% if user.is_authenticated %}

    {% if listing.is_in_watchlist %}

    <form method="POST" action="{% url 'remove_watchlist' listing_id=listing.id %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-danger mt-3">Remove from watchlist</button>
    </form>
    {% else %}
    <form method="POST" action="{% url 'add_watchlist' listing_id=listing.id %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-success mt-3">Add to watchlist</button>
    </form>
    {% endif %}

    {% endif %}

    {% endblock %}